[Unit]
Description=Node Application
After=network-online.target

[Service]
User=no user
WorkingDirectory=/var/www/html/
ExecStart=/usr/bin/node /var/www/html/cms.js
Restart=always

[Install]
WantedBy=multi-user.target
